form {
    width: 800px;
}
.smlLogo{
    width: 500px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;

.container {
    align-self: center;
}
}
.row{
    flex-direction: row;
    justify-content: space-between;
    
}
input {
    width: auto;
    height: 50px;
    border: .75px solid rgb(66, 66, 66);
    border-radius: 30px;
    padding: 0 45px;
    margin: 15px 0px;
    background-color: rgba(103, 103, 104, 0.295);
    font-size: 25px;

}
.check {
    font-size: 20px;
}

.cbox {
    width: 30px;
    height: 30px;
    background-color: rgba(103, 103, 104, 0.295);
    font-size: 20px;
    margin: 15px 5px;

}
input::placeholder {
    font-family: transducer-extended, sans-serif;
    font-weight: 400;
    font-size: 15px;
}