form {
    width: 800px;
}
.smlLogo{
    width: 500px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.container {
    align-self: center;
    padding: 50px;
}

.row{
    flex-direction: row;
    justify-content: space-between;
}

input {
    width: auto;
    height: 50px;
    border: .75px solid rgb(66, 66, 66);
    border-radius: 30px;
    padding: 0 45px;
    margin: 15px 0px;
    background-color: rgba(103, 103, 104, 0.108);
    font-size: 25px;
}

.check {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.cbox {
    width: 30px;
    height: 30px;
    background-color: rgba(103, 103, 104, 0.163);
    font-size: 20px;
    margin: 15px 5px;

}
input::placeholder {
    font-family: transducer-extended, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
}

.logoSpace{
    h4 {
        // color: white;s
        text-align: center;
        padding: 30px 0;
    }
}
.lineLink {
    color: #ED217C;
    text-decoration: underline;
}

.btn3 {
    background-color: #ED217C;
    border-radius: 25px;
    width: 40%;
    height: 100%;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: transducer-extended, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    color: white;
    align-self: center;
}

.signedIn {
    text-align: center;
    
    p{
        font-size: 13px;
    }
}